
<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://google.ro">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<h1 >Todo List</h1>
<div>
  
  <input  type="text" matInput placeholder="Enter your activity "  #newTodo/>
  <button (click)="add(newTodo.value);newTodo.value='';">add</button>  
  <a  style="float: right;" [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin Module</a> 
</div>

<hr/>



<table>
  <tr>
    <td><h5 >Id</h5></td>
    <td><h5 >Activity</h5></td>
    <td><h5>Status </h5></td>
    <td><h5> Delete</h5></td>
    <td><h5>Toogle Status</h5></td>
  </tr>
  
  <tr *ngFor="let todo of todos">
    <td align=center>{{todo.id}}#</td>
    <td align=center>{{todo.label}}</td>
    <td align=center>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
    <td align=center><button (click)="delete(todo)">delete</button></td>
    <td align=center><button (click)="toggle(todo) ">toggle</button></td>
  </tr>
</table>




