body {
    background-image: url('C:\Users\cosmi\Desktop\todo-app-main\src\assets\backgroundbun.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100% ;width: 100%;
  }

button {
    color: rgb(248, 246, 246);
    background-color: brown;
    border: none;
    padding: 5px 15px;
}

input {
    padding: 3px;
}

h5{  
    color: #000002;
    text-align: center;
    margin: 0px 0 0;
    padding-top: 0px; 
    padding-bottom: 0px;
   }

